header{
    background-image: url("../Img/banniere/lens.jpg");
    background-size: cover;
    width: auto;
    height: 1100px;
    
    background-repeat: no-repeat;
}
#alex{
    float: left;
    width: 400px;
    margin: 20px 80px;
}
#news{
    float:right;
    font-size: 24px;
    margin: 50px 20px;
    color: aliceblue;
    border-bottom-color: brown;
}
.nav{
    text-decoration: none;
    color: aliceblue;
    float: right;
    font-size: 24px;
    margin: 70px 40px;
    
}

.photosl{
    height: 400px;
    float: left;
    margin: 40px 150px;
}

.photosr{
    height: 400px;
    float: right;
    margin: 40px 150px; 
}
#bouteille{
    float: right;
    margin: 40px 200px;
}

main{
    height: 2900px;
}
#tlt{
    font-size: 32px;
    text-align: center;
}


footer{
    height: 500px;
    align-content: center;
    align-items: center;
    text-align-last: center;
}
.texta{
    font-size: 20px;
}

#envoi{
    color: aliceblue;
    background-color: #3e8096;
    font-size: 28px;
    width: 150px;
    margin: 20px 0px;
}
#envoi:hover{
    color: #3e8096;
    background-color: black;
}

#alexf{
    float: left;
    width: 200px;
    margin: 70px 90px;
}
.navf{
    text-decoration: none;
    color: aliceblue;
    float: right;
    font-size: 14px;
    margin: 70px 40px;
    
}
#newsf{
    float:right;
    font-size: 14px;
    margin: 70px 40px;
    color: aliceblue;
    border-bottom-color: brown;
}